<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>maps</string>
	</array>
	<key>NSServices</key>
	<array>
		<dict/>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>SwissLicensePlates.otf</string>
		<string>GL-Nummernschild-Mtl.ttf</string>
		<string>GL-Nummernschild-B-Mtl.ttf</string>
		<string>GL-Nummernschild-Eng.ttf</string>
		<string>GL-Nummernschild-B-Eng.ttf</string>
	</array>
</dict>
</plist>
